<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Date Pipe</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div>
      <h1>
        <p class="text">DATE PIPE</p>
        <br />
        {{ presentDate | date: 'longDate' }} &nbsp;&nbsp;|&nbsp;&nbsp;
        {{ presentDate | date: 'M/dd/yyyy' }}

        <br />
        {{ presentDate | date: 'EEEE' }}
        <br />
        {{ todayO$ | async | date: 'mediumTime' }} {{ presentDate | date: 'z' }}
      </h1>
    </div>
  </body>
</html>
